<ion-header>
  <ion-toolbar>
    <ion-title color="tertiary">WOW COLLECTION</ion-title>
  </ion-toolbar>
</ion-header>

<ion-img src="http://images6.fanpop.com/image/photos/40100000/Warcraft-Movie-Wallpaper-warcraft-2016-40175818-1920-1080.jpg"></ion-img>

<ion-content padding>
    <ion-grid>
        <ion-row>
          <ion-col>
            <div>
                <p text-center>Bienvenue sur WOW Collection.</p> 
                <p>Vous pouvez ici vérifier l'état de vos personnages, hauts-faits et autres éléments liés à votre compte.</p>
                <p>Connectez-vous pour avoir accès à votre compte battle-net et planifier votre progression !</p>

                <p text-center><ion-button color="tertiary" fill="outline" href="/tabs/(login:login)">Se connecter</ion-button></p>
                <!-- <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs">docs</a> will be your guide.</p> -->
            </div>
          </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
